textarea.textBox {
	width: 340px;
	height: 449px;
	margin: 0 auto;
	resize: none;
	display: block;
	padding: 1.7em;
	outline: none;
	font-size: 1.1em;
	color: rgba(0, 0, 205, 0.71);
	font-weight: 600;
	border: none;
	box-shadow: none;
}

textarea.textBox:focus {
	outline: none;
}
