button {
	display: block;
	border-radius: 4px;
	background-color:#d44146;
	color:white;
	border: none;
	padding: .4em;
	width: 10em;
	transition: all 0.5s;
	text-align: center;
  cursor: pointer;
  font-size:24px;
  margin:2em auto;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
